h1{
	color: green;
}

p{
    background-color: black;
    color: white;
}

/*p>a{
	color: white;
}*/

/* clase */
.testLink{
	font-size: 35px;
	color: #FFBF00
}

/* id */
#link1{
	font-size: 15px;
}

#punto{
	color: red;
}
